include LICENSE
include CONTRIBUTING.md
include README.rst
include pypi-readme.rst

recursive-include resources *.fits
recursive-include docs *.md *.png

recursive-include arpes/example_data *.fits
recursive-include arpes/example_data *.nc