tornado==4.5.3

# Data loading
astropy
git+git://github.com/chstan/igorpy.git@712a4c4#egg=igor-0.3.1

# Need to use pre 0.10.1 as this version introduced a change that forced all
# assignment through Variable.get_compatible_data, coercing them to an array
xarray==0.9.6
h5py==2.7.0
netCDF4==1.3.0
colorcet

# Analysis
pint # units
pandas
dask
numpy
scipy
lmfit
scikit-learn
scikit-image

# You can install this if you like but don't need to
# git+git://github.com/xgcm/xrft.git@879643cb0d6779632fc7600876bd90200a632028#egg=xrft-0.1.dev

# cvxgrp # Conda
# cvxpy  # Conda
# libgcc # Conda

pymatgen

# Plotting
# holoviews==1.8.4
matplotlib==3.0.0
seaborn
bokeh
# plotly # optional

# Rendering and exploration
# paraview
ipywidgets==7.0.1
ipyvolume

# Dependencies
xlrd
titlecase
openpyxl

# Testing
attrs==17.4.0
pluggy==0.6.0
py==1.5.2
pytest==3.3.2
setuptools==38.4.0

tqdm
