# Data loading
astropy
xarray
h5py
netCDF4

# Analysis
pandas
dask
numpy
scipy
lmfit
scikit-learn
scikit-image
xrft # You will need to get this one from the conda forge

# Plotting
holoviews=1.8.4
matplotlib
seaborn
bokeh

# Rendering and exploration
# paraview
ipywidgets=7.0.1
ipyvolume

# Dependencies
xlrd
openpyxl